@import '../../css/_utils.css';

.email {
    margin-bottom: 2rem;
    display: inline-block;
}

.socialList {
    display: flex;
}

.socialItem {
    width: 40px;
    padding: 0 vw-column(0.4) 0 0;

    @media (--small) {
        width: vw-column(1);
    }
}